# macOS system files
.DS_Store

# Python cache
__pycache__/
**/__pycache__/

# Python virtual environments
venv/
.venv/
env/
**/venv/
**/.venv/
**/env/

# Ignore any backup or temp files
*.pyc
*.pyo
*.pyd
*.swp
*.bak