.DS_Store.DS_Store
face-reocgnition/path/to/venv/
QR BASED DATA RETRIVAL SYSTEM/__pycache__/
face-reocgnition/__pycache__/
QR BASED DATA RETRIVAL SYSTEM/utils/__pycache__/
QR BASED DATA RETRIVAL SYSTEM/path/